<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main::header"></head>

<body>
<div id="wrapper">
    <div th:replace="fragments/main :: navigation"></div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <form th:action="@{/admin/create}" th:role="form" th:method="post" th:object="${model}">
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <input th:field="*{name}" class="form-control" type="text" placeholder="Project Name" id="name" th:name="name" th:required="true" th:readonly="${edit}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-2 col-form-label">Description</label>
                    <div class="col-10">
                        <input th:field="*{description}" class="form-control" type="text" placeholder="Project Description" id="description" th:required="true"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10 centered">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="fragments/main::jsSource"></div>
</body>
</html>