<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/main::header"></head>

<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <nav th:include="fragments/main::navigation"></nav>
            <form style="display:inline-block" th:action="@{/search}" th:object="${searchOptions}" method="get">
                <div class="form-group row">
                    <label for="projects" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <select id="projects">
                            <option th:each="project : ${projects}"
                                    th:value="${project.name}" th:text="${project.description}"></option>
                        </select>
                    </div>
                </div>
            </form>
            <form th:action="@{/admin/create}" th:role="form" th:method="post" th:object="${model}">
                <div class="form-group row">
                    <label for="projects" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <input th:field="*{name}" class="form-control" type="text" placeholder="projectname" id="name" th:name="name" th:required="true"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-2 col-form-label">Description</label>
                    <div class="col-10">
                        <input th:field="*{description}" class="form-control" type="text" placeholder="projectname" id="description" th:required="true"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10 centered">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="fragments/main::jsSource"></div>
</body>
</html>